In [8]:
a = ["banana", "apple", "microsoft"]

In [11]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [22]:
for i in a:
    print(i)
    print(i)

banana
banana
apple
apple
microsoft
microsoft

In [4]:
b = [20, 10, 5]
total = 0
for i in b:
    total = total + i
print(total)

35

In [9]:
c = list(range(1,  5))
print(c)

[1, 2, 3, 4]

In [14]:
total2 = 0
for i in range(1, 5):
    total2 += + i
print(total2)

10

In [16]:
list(range(1, 8))

[1, 2, 3, 4, 5, 6, 7]

In [21]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i

print(total3)

9

In [25]:
#sum of all multiples of 3 and 5 that are less than 100
total4 = 0
for i in range(1, 100):
    if i % 3  == 0:
        total4 += i
    elif i %5 == 0:
        total4 += i
        
print(total4)

2318

In [28]:
#print out 1 - 10 

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [29]:
#while loop ^^
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [33]:
lastNumber = 6
for i in range(1, lastNumber):
    for x in range(1, i +1):
        print(x, end=' ')
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [44]:
num = int(input("choose a number: "))
total = 0
for num in range(1, num + 1, 1):
    total += num

print(total)

choose a number: 20
210

In [57]:
n = 10

for i in range(1, 11, 2):
    product = n*i
    print(product)

10
30
50
70
90

In [63]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

for i in list1:
    if i > 150:
        break
    elif i % 5 == 0:
        print(i)

15
55
75
150

In [71]:
list1 = [10, 20, 30, 40, 50]
start = len(list1) - 1

for i in range(start, -1, -1) :
    print(list1[i])

50
40
30
20
10

In [77]:
for i in range(5):
    print(i)
else:
    print("done!")

0
1
2
3
4
done!

In [91]:
n1 = []
for i in range(1500, 2701):
    if (i % 7 == 0) and (i % 5 == 0):
        n1.append(str(i))
print (','.join(n1))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [100]:
celsius = int(input("Enter a temperature in C that you would like to convert to F: "))

to_f = (celsius * 9/5) + 32

print(f'The temperature is {to_f} Farenheit')

Enter a temperature in C that you would like to convert to F: 0
The temperature is 32.0 Farenheit

In [1]:
temp = input("Enter a temperature that you'd like to convert. example:(52F 14C): ")
degrees = int(temp[:-1])
i_convetion = temp[-1]

if i_convetion.upper == 'C':
    result = int(round((degrees * 9/5) + 32))
    o_convention = 'Farenheit'
    
elif i_convetion.upper == 'F':
    result = int(round((degrees - 32) * 5/9))
    o_convetion = 'Celsius'
else:
    print('Invalid Input')
    quit()
    
print(result)

Enter a temperature that you'd like to convert. example:(52F 14C): 52F
Invalid Input

NameError: name 'result' is not defined

In [2]:
temp = input("Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper() == "C":
  result = int(round((degrees * 9/5) + 32))
  o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
  result = int(round((degree - 32) * 5 / 9))
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature in", o_convention, "is", result, "degrees.")

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 0C
The temperature in Fahrenheit is 32 degrees.