In [213]:
# Install Beautiful Soup
# conda install beautifulsoup4

In [30]:
# Import the requests package and BeautifulSoup class

In [31]:
# Connect to URL you want to connect to

In [32]:
# Instantiate BeautifulSoup class

In [33]:
# Retrieve HTML using class

In [34]:
# Check type

In [35]:
# Records we want are in each individual tr element

In [36]:
# All data we need is in every odd-numbered indexed row

In [37]:
data_list = []

# Loop through tr_list

    # Loop through td element
        # Append that data to the current record
        
    # Add the finished row to dataframe
    
data_list

[]

In [38]:
# Search dataset with Pandas and Numpy
# conda install pandas
# conda install numpy

In [39]:
# Create Pandas dataframe

In [40]:
# Remove all columns named 'delete'

In [41]:
# View datatypes

In [42]:
# Convert certain columns to floats

In [43]:
# Convert certain columns to int

In [44]:
# Check datatypes again

In [45]:
# Convert team column strings to be uppercase

In [46]:
# Show basic pandas dataset calculations

In [47]:
# Chain multiple queries and different things together to mimick SQL queries